<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Pelanggan</title>
    <link rel="stylesheet" href="/pelangganView/pelangganView.css">
    <script src="/pelangganView/script.js" defer></script>
</head>

<body>
    <h1>Daftar Pelanggan</h1>


    <button class="add-button" onclick="openAddModal()">Tambah Pelanggan</button>

    <table>
        <thead>
            <tr>
                <th>Nomor Pelanggan</th>
                <th>Nama</th>
                <th>Nomor HP</th>
                <th>email</th>
                <th>Kelurahan</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody id="customer-list">
            <tr th:each="customer : ${pelangganList}">
                <td th:text="${customer['id']}"></td>
                <td th:text="${customer['nama']}"></td>
                <td th:text="${customer['no_hp']}"></td>
                <td th:text="${customer['email']}"></td>
                <td th:text="${customer['kelurahan']}"></td>
                <td>
                    <button class="edit-button" th:onclick="'deleteCustomer(' + ${customer['id']} + ')'">Edit</button>
                    <button class="delete-button" th:onclick="'deleteCustomer(' + ${customer['id']} + ')'">Hapus</button>

                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal" id="addModal">
        <div class="modal-content">
            <div class="modal-header" id="modalTitle">Tambah Pelanggan</div>
            <form id="addForm">
                <input type="text" id="addName" placeholder="Nama Pelanggan" required />
                <input type="text" id="addPhone" placeholder="Nomor HP" required />
                <select id="addArea" required>
                    <option value="">Pilih Kelurahan</option>
                    <option th:each="area : ${kelurahanList}" th:value="${area}" th:text="${area}"></option>
                </select>
            </form>
            <div class="modal-footer">
                <button class="close-button" onclick="closeModal()">Tutup</button>
                <button class="save-button" id="modalSaveButton" onclick="addCustomer()">Tambah</button>
            </div>
        </div>
    </div>
</body>

</html>


